* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fbfff5;
  font-family: 'Roboto', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.project_image img {
    width: 652px;
    max-width: 100%;
}

.home_boxes {
    max-width: 980px;
}

.project_bar {
  width: 100%;
  min-height: 220px;
}

.project_title {
    width: 652px;
    max-width: 100%;
    font-size: 2.65em;
    font-weight: bold;
    line-height: normal;
    padding: 16px 10px 16px 10px;
}

.project_links {
    width: 652px;
    max-width: 100%;
    padding: 0px 10px 16px 10px;
}

.project_desc {
    width: 652px;
    max-width: 100%;
    padding: 0px 10px 0px 10px;
    clear: both;
}
