* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fbfff5;
  font-family: 'Roboto', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #1f201e;
}

a:hover {
    color: #787b74;
}

/*
HOME / GENERAL STYLES -----------------------------------------------
*/

.header_area {
    float: left;
    width: 100%;
    max-width: 978px;
    margin: 40px 0px 40px 0px;
}

.header_area img {
    max-width: 100%;
}

.header_image {
    float: left;
    width: 50%;
}

.header_links_container {
    position: relative;
    min-height: 100px;
}

.header_links {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 20px 0px 0px;
    text-align: right;
}

.home_boxes {
    max-width: 980px;
}

.back_button {
    float: left;
    width: 100%;
    max-width: 652px;
    margin-top: 30px;

    /*
    height: 550px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    */
}

/*
PROJECT STYLES -----------------------------------------------
*/

.project_image img {
    width: 652px;
    max-width: 100%;
}

.project_bar {
  width: 100%;
  min-height: 100px;
}

.project_title {
    width: 652px;
    max-width: 100%;
    font-size: 2.65em;
    font-weight: bold;
    line-height: normal;
    padding: 16px 14px 16px 14px;
    margin-top: 50px;
}

.project_links {
    width: 652px;
    max-width: 100%;
    padding: 0px 14px 16px 14px;
}

.project_desc {
    width: 652px;
    max-width: 100%;
    padding: 0px 14px 0px 14px;
    clear: both;
}

.project_desc img {
    max-width: 100%;
}
